export SECRET_KEY_BASE=xlh4mopleEt8m3ILEmEqqd0bkr6et+vW3umYsvOAlQt6Hd0hmOypxFiOIXfMWtAe
export DATABASE_URL=postgresql://ac16cacd-349c-4765-99cb-2208fdc4eb78-user:pw-b784536e-cfa6-46af-ae47-70e67a5cd32d@postgres-free-tier-v2020.gigalixir.com:5432/ac16cacd-349c-4765-99cb-2208fdc4eb78